#best-sellers {
    width: 85%;
    margin: 32px auto;
    p {
        font-family: $font-secundary;
    }
    h1 {
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    .row {
        padding: 32px;
    }
}

.homepage-card {
    position: relative;
    cursor: pointer;
    height: 100%;
    margin: auto;
    border: 0;
    background-color: #4bc3b56c;
    transition: 0.3s;
    &-img {
        height: 390px;
        display: flex;
        align-items: center;
        img {
            max-width: 250px;
            padding: 16px;
        }
    }
    &:hover {
        background-color: #4BC3B5;
        .homepage-card-button {
            opacity: 1;
        }
    }
    &-button {
        text-transform: uppercase;
        background-color: $color-secondary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.3s;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .card-title {
            text-transform: uppercase;
        }
        .card-text {
            font-size: .8rem;
        }
        .price-stock {
            padding: 0 16px;
            justify-content: space-between;
        }
    }
}

.card {
    align-items: center;
}