.item-cart {
    padding: 32px;
    border-bottom: 1px solid $color-key;
    justify-content: space-between;
    img {
        padding: 4px;
        max-width: 200px;
        background-color: #9bddd698;
    }
    &-text {
        text-align: end;
        p {
            font-family: $font-secondary;
        }
    }
}

.summary {
    align-self: start;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
    padding: 8px;
    background-color: #ffcef198;
    &-list {
        margin: auto;
        width: 100%;
        &-title {
            padding: 8px;
        }
        &-value, &-subtitle {
            padding: 4px 0px;
            font-family: $font-secondary;
            border-bottom: 1px solid gray;
        }
        &-subtitle {
            text-align: left;
        }
        &-value {
            text-align: right;
        }
    }
    button {
        margin: 16px 0;
    }
}

.cart-list {
    margin: 0;
    max-height: 72vh;
    overflow: auto;
    width: 80%;
    &-container {
        justify-content: center;
        overflow-x: hidden;
        margin: 32px;
    }
    &-box {
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    &-bg {
        background: url("https://i.imgur.com/vn6tICW.png") no-repeat left top, url("https://i.imgur.com/Twylj4y.png") no-repeat right top;
    }
}

.total-value {
    font-weight: bold;
    border: none;
}