.navbar {
    background-color: $color-key;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    &-brand {
        display: flex;
        margin: 0;
        img, span {
            padding: 4px;
        }
    }
}

.navbar-dark .navbar-nav .nav-link {
    &:hover {
        color: white;
    }
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: $color-hover;
}

.dropdown-item {
    &:hover {
        cursor: pointer;
    }
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

#search-bar {
    padding: 0 8px;
    &-button {
        background-color: $color-main;
    }
    &-input {
        margin: 0;
        border-radius: 0;
        border: 3px solid $color-main;
    }
}

.search-results {
    &-item {
        &:hover {
            background-color: $color-hover;
        }
        &-title {
            font-size: .75em;
            text-align: start;
        }
        &-image {
            max-width: 100%;
            max-height: 80px;
        }
        &-container {
            gap: 10px;
        }
    }
}

#cart-widget {
    margin: 0 8px;
    border: 0;
    color: white;
}

#sign-up-button {
    background-color: $color-main;
    margin: 0 8px;
}

.btn {
    border-radius: 0%;
    border: 3px solid white;
    &:hover {
        border-color: $color-secondary;
    }
}

.offcanvas {
    background-color: $color-key;
    text-transform: uppercase;
    &-header {
        justify-items: end;
        border-bottom: 3px solid white;
    }
    &-body {
        .navbar-nav {
            justify-content: end;
        }
        .nav-link {
            color: white;
        }
    }
}

#offcanvasNavbarDropdown-expand-lg {
    text-align: end;
}

.avatar {
    &-toggle {
        border-radius: 50%;
        max-width: 42px;
        max-height: 42px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-img {
        width: auto;
        height: 50px;
        vertical-align: middle;
    }
}